.App {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background-color: #f2f2f282;
}

.App-header {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(14px + 2vmin); */
  /* color: white; */
}

.App-footer {
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
}
